@import url('https://fonts.googleapis.com/css2?family=Delius&family=Merriweather:opsz,wght@18..144,900&family=Poppins:wght@400;600&family=Roboto:wght@100..900&display=swap');
@import url(./utilitários.css);
* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

body {
   background-color: rgb(253, 254, 255);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

img {
   display: block;
}
