header {
   max-width: 2000px;
   margin: 100px auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: auto;
   border-radius: 4px;
   
   background: radial-gradient(
   circle at center,
   rgb(255, 247, 236) 10%,
   rgb(255, 220, 180) 60%,
   rgb(255, 206, 146) 30%
);


}

.h-texto {
   font-family: "Roboto", sans-serif;
   width: 95%;
   padding: 20px;
   justify-self: center;
   align-content: center;
   display: grid;
   justify-content: center;
   gap: 32px;
   margin: 10px 10px;
   border-radius: 12px;
}

.card-reforco {
   background: 
radial-gradient(
   circle at top left,
   rgb(255, 245, 233) 0%,
   rgb(255, 221, 182) 40%,
   transparent 60%
),
radial-gradient(
   circle at bottom right,
   rgb(255, 183, 100) 0%,
   rgb(255, 221, 182) 50%,
   transparent 70%
),
rgb(255, 210, 158);
   background-size: 100% 100%, 140% 140%, auto;
   padding: 32px;
   border-radius: 12px;
   width: 500px;
   box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.336);
   animation: backMov 2.5s ease infinite alternate;
}

@keyframes backMov {
   0%{
      background-size: 100% 100%, 140% 140%, auto;
   }

   50%{
      background-size: 140% 140%, 120% 120%, auto;
   }

   100%{
      background-size: 110% 110%, 110% 110%, auto;
   }
}

.card-reforco h1 {
   text-align: center;
   font-size: 2.75rem;
   color: var(--textoPrincipal);
}

.card-reforco .brilho {
   overflow: hidden;
   position: relative;
   display: inline-block;
   background: linear-gradient(
    110deg,
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0.973),
    rgb(0, 0, 0)
  );

   background-size: 200% 100%;
   
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: brilhoTexto 3s linear infinite;
}

@keyframes brilhoTexto {
   from {
      background-position: 100% 0;
   }
   to {
      background-position: -100% 0;
   }
}

.h-texto p:first-of-type {
   margin-top: 20px;
}

.h-texto p {
   font-size: 1.75rem;
   font-weight: 300;
   text-align: center;
   color: var(--textoSecundario);
}

.h-img {
   
   background-image:url("../img/aluna-modelo4.jpg");
   background-position: center;
   background-size: cover;
}
