main {
   font-family: var(--fontPrincipal);
   max-width: 2000px;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 2fr;
}

.container-ensino1 {
   padding: 0px 40px;
}

.container-ensino1 h1 {
   font-size: 2.25rem;
   margin-bottom: 20px;
}

.container-ensino1 p {
   font-size: 1.25rem;
   line-height: 1.5;
   letter-spacing: 1.2px;
}

.container-ensino1 a {
   font-size: 1.2rem;
   margin-left: 0;
}

.conteudos-pai {
   background:
   radial-gradient(circle at 20% 30%, #ffffff 0%, #f5f7f8 25%, transparent 40%),
   radial-gradient(circle at 85% 60%, #eef2f3 0%, #ffffff 30%, transparent 45%),
   radial-gradient(circle at 40% 80%, #f4f9fc 0%, #e9eef0 35%, transparent 50%),
   #e5eef0;
   background-size: 200% 100%;
   
   padding: 60px;
   display: flex;
   flex-wrap: wrap;
   gap: 80px;
   justify-content:center;
   align-content: center;
   align-items: center;
   animation: backmove 7s linear infinite alternate;
}

@keyframes backmove {
   from {
      background-position: 100% 0;
   }
   to {
      background-position: 0% 0;
   }
}



.conteudos {
   background-color: rgba(222, 149, 54, 0.125);
   padding: 20px 32px;
   border-radius: 8px;
   min-width: 200px;
   max-width: 600px;
   text-align: center;
   border: 3px solid transparent;

   background:
      linear-gradient(120deg, rgba(222,151,54,0.125), rgba(222, 151, 54, 0.079)) padding-box,
      linear-gradient(120deg, transparent, rgb(255, 151, 25), transparent) border-box;
   background-size: 200% 100%;
   
   animation: bordaMove 3s ease infinite alternate;

   transition: 1s;
}

#fisica {
   animation: bordaMove 3.5s linear infinite alternate;
}

#program {
   animation: bordaMove 4s ease infinite alternate;
}

.conteudos:hover {
   background-color: rgba(222, 149, 54, 0.368);
   scale: 110%;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.386);
   
   
}

@keyframes bordaMove {
   from {
      background-position: 0% 0;
   }
   to {
      background-position: 100% 0;
   }
}

.conteudos h2{
   font-size: 1.75rem;
   font-weight: 400;
   color: rgb(40, 40, 40);
}

.conteudos-pai p {
   margin-top: 12px;
}

.sub-conteudo {
   display: flex;
   justify-content: space-around;
   text-align: center;
   font-size: 0.75rem;
   color: rgb(74, 74, 74);
}
