nav {
   font-family: "Roboto", sans-serif;
   font-size: 1.5rem;
   font-weight: 500;
   background-color: rgb(248, 248, 248);
   box-shadow: 0px 1px 8px 1px rgb(165, 165, 165);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav .nome {
   min-width: max-content;
   font-size: 3.2rem;
   margin-left: 48px;
}

nav:hover .nome {
   font-weight: 800;
   color: rgb(118, 47, 0);
}

nav ul {
   color: var(--textoPrincipal);
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: end;
   justify-items: end;
   margin-right: 80px;
   gap: 60px;
   padding: 32px 0px;
}

nav li {
   cursor: pointer;
}

nav li a::after {
   content: "";
   display: block;
   height: 2px;
   width: 0px;
   background-color: rgb(118, 47, 0);
   position: absolute;
   top: 48px;
   transition: 1s;

}

nav li a:hover::after {
   width: calc(100% - 40px);
}

nav a {
   display: inline-block;
   padding: 20px 20px;
   transition: 0.4s;
   position: relative;
}

nav a:hover {
   color: rgb(118, 47, 0);
}

.menu-hamburguer {
   margin-right: 20px;
}

@media (max-width: 1200px) {
   nav ul {
      font-size: 1.5rem;
      margin-right: 10px;
      gap: 10px;
   }

   nav li a::after { 
      top: 48px;
   }
}

@media (max-width: 850px) {
   nav .nome {
      font-size: 3.2rem;
      margin-left: 20px;
   }

   nav ul {
      margin-right: 0px;
      padding: 0px 10px;
   }

   nav a {
      padding: 12px;
   }

   nav li a::after { 
      top: 40px;
   }

   nav li a:hover::after {
   width: calc(100% - 24px);
   }
}

@media (max-width:750px) {
   nav {
      position: relative;
   }
   nav ul[data-menu] {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: rgb(247, 247, 247);
      max-width: 700px;
      min-width: 300px;
      justify-content: center;
      gap: 10px;
      border-radius: 4px;
      border: 1px solid var(--spanDecorativo);
      height: auto;
      position: absolute;
      top: 80px;
      right: 10px;
   }

   nav ul { 
      display: none;
   }

   nav ul li {
      position: relative;
      font-size: 1rem;
      display: flex;
      align-items: center;
   }

   nav li a::after {
      display: none;
   }

   nav ul li:first-child {
      position: relative;
      top: 25px;
   }

   nav ul li::before {
      content: "";
      display: block;
      background-color: var(--spanDecorativo);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: relative;
      transform: translateX(4px);
   }

   nav ul li:hover::before {
      animation: shakeX 1s ease-in-out infinite;
   }

   @keyframes shakeX {
  0%, 100% {
    transform: translateX(4px);
  }
  25% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(7px);
  }
  75% {
    transform: translateX(2px);
  }
}

   nav ul li:nth-child(1) {
      min-width: max-content;
      justify-self: center;
      grid-column: span 2;
   }

   nav ul li:nth-child(2) {
      justify-self: left;
   }

   nav ul li:nth-child(3) {
      grid-column: 3;
      justify-self: left;
      align-self: top;
   }

   .menu-hamburguer {
      display: flex;
   }
}

@media (max-width: 400px) { 
   nav .nome {
      font-size: 2.75rem;
   }

   nav ul {
      gap: 4px;
   }
}