:root {
   --textoPrincipal: rgb(45, 45, 45);
   --textoSecundario: rgb(26, 26, 26);
   --fundoHeader: rgb(255, 239, 221);
   --fundoBotao1: rgb(252, 150, 66);
   --fundoBotao2: rgb(255, 175, 105);
   --fundoBotaoHover: rgb(255, 153, 65);
   --spanDecorativo:rgb(255, 132, 25);

   --fontPrincipal: "Roboto", sans-serif;
   --fontSecundaria: "Delius", sans-serif;
}

.link-botao {
   margin: 32px auto;
   display: block;
   
   background: linear-gradient(
      to top,
      var(--fundoBotao2),
      var(--fundoBotao1),
      var(--fundoBotao2));
   max-width: max-content;
   padding: 20px 28px;
   border-radius: 8px;
   font-weight: 400;
   cursor: pointer;
   border: 2px solid rgba(255, 255, 255, 0);
   box-shadow: 
   3px 3px 6px rgba(0, 0, 0, 0.234); 
   transition: 0.8s;
}

.link-botao:hover {
   background-color: var(--fundoBotaoHover);
   border: 1px solid rgba(255, 255, 255, 0.681);
   color: white;
   box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.311);
}

.spanDecorativo {
   color: var(--spanDecorativo);
   
}

.spanDecorativoAnimar {
   animation: pulsar 1s linear infinite alternate;
   display: inline-block;
}

@keyframes pulsar {
   from {
      scale: 100%;
   }
   to {
      scale: 150%;
   }
}

.menu-hamburguer {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--spanDecorativo);
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}

.menu-hamburguer span {
  display: block;
  width: 80%;
  height: 3px;
  background: black;
  border-radius: 4px;
}

