@import url('https://fonts.googleapis.com/css2?family=Delius&family=Merriweather:opsz,wght@18..144,900&family=Poppins:wght@400;600&family=Roboto:wght@100..900&display=swap');
@import url("../style/global.css");
@import url("../style/nav.css");
@import url("../style/footer.css");

main {
   font-family: var(--fontPrincipal);
   font-size: 2rem;
   max-width: 2000px;
   margin: 80px auto 0px auto;
   padding: 0px 12px;
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: center;
   gap: 100px;
}

main h2 {
   font-weight: 400;
}

main textarea {
   width: 100%;
   height: 400px;
   background-color: rgb(251, 249, 245);
   margin-top: 40px;
   font-size: 1rem;
   padding: 16px;
   border: 2px solid var(--fundoBotao1);
   box-shadow: 2px 2px 4px 1px rgb(183, 183, 183);
   transition: 0.5s;
}

form .link-botao {
   margin-top: 10px;
   margin-right: 1px;
}

main textarea:focus {
   outline: none;
   border: 2px solid var(--fundoBotao1);
   box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.509);
}

.contatos-interno {
   display: grid;
   gap: 28px;
   align-items: center;
}

.contatos-interno div:first-of-type {
   margin-top: 40px;
}

.contatos-interno img, main .contatos-interno a {
   display: inline-block;

}

main .contatos-interno a {
   display: grid;
   grid-template-columns: auto 1fr;
   gap:40px;
   align-items: center;
}

.contatos-interno a:hover img {
   animation: girar 1.5s linear infinite;
}

.contatos-interno p {
   position: relative;
   z-index: 12;
   overflow: hidden;
}

.contatos-interno p::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 100%;
  background: linear-gradient(
    110deg,
    transparent,
    rgba(255, 255, 255, 0.806),
    transparent
  );
}

.contatos-interno p::before {
  animation: brilho 6s linear infinite;
}

@keyframes brilho {
  from {
    left: -100%;
    
  }
  to {
    left: 100%;
  }
}

@keyframes girar {
   from {
      transform: rotateY(0);
   } 
   to {
      transform: rotateY(360deg);
   }
}

@media (max-width: 800px) {
   main {
      gap: 40px;
   }
   main h2 {
      font-size: 2.25rem;
   }

   main p {
      font-size: 1.75rem;
      font-weight: 300;
   }
   form {
      margin-top: 10px;
   }

   form textarea {
      width: 100%;
      height: 200px;
   }
}

@media (max-width: 600px) {
   main h2 {
      font-size: 2rem;
   }

   main p {
      font-size: 1.5rem;
      font-weight: 300;
   }

   main .contatos-interno a {
      gap:20px;
   }
}

@media (max-width:400px) {
   .contatos-interno {
      margin-top: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
   }

   .contatos-interno div:first-of-type {
   margin-top: 0px;
   }

   .contatos-interno p {
      display: none;
   }
}
 
